.App {
  width: 100vw;

  position: relative;
}

.App h1 {
  font-family: monospace;
  margin-bottom: 5px;
}

@media (max-height: 859px) {
  .amplify-sign-out {
    margin-top: -24px;
    margin-right: 6px;
  }
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  max-width: 300px;
  font-size: 15px;
  z-index: 9;
  pointer-events: none;

  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;

  font-family: "Bitter", monospace;
}


#map {
  position: relative;
  width: 50vw !important;
  height: 100%;
}

.mapboxgl-map {
  /*width: calc(100vw - 32px) !important;*/
  max-width: 100vw !important;
}

.mapboxgl-canvas-container {
  position: relative;
  max-width: 50vw !important;
  width: 100%;
  min-height: 360px;
  height: 100%;
}

.mapboxgl-canvas-container .mapboxgl-canvas {
  top: 0;
  right: 0px;
}


