.App {
  width: 100vw;

  position: relative;
}

.App h1 {
  font-family: monospace;
  margin-bottom: 5px;
}

@media (max-height: 859px) {
  .amplify-sign-out {
    margin-top: -24px;
    margin-right: 6px;
  }
}

#map {
  position: relative;
  width: 50vw !important;
  height: 100%;
}

.mapboxgl-map {
  /*width: calc(100vw - 32px) !important;*/
  max-width: 100vw !important;
}

.mapboxgl-canvas-container {
  position: relative;
  max-width: 50vw !important;
  width: 100%;
  min-height: 360px;
  height: 100%;
}

.mapboxgl-canvas-container .mapboxgl-canvas {
  top: 0;
  right: 0px;
}

.mapboxgl-ctrl-top-left {
  margin-top: 44px;
  z-index: 20;
}


