.interface {
	position: relative;

	overflow: hidden;
}

.map-interface {
	display: flex;
	border-bottom: 2px solid black;
}

/*.open-button {
	display: none;
}

@media (max-width: 600px) {

	.open-button {

		display: block;

		position: absolute;
		background-color: #00835D;
		color: white;

		font-family: "TT Hoves Bold", "TT Hoves", sans-serif, monospace;
		font-weight: 700;

		border-bottom: 2px solid #16343E;

		padding: 5px 5px;
		width: 100%;

		text-align: center;

		z-index: 30;
	}

}*/