.map-legend {
	position: absolute;
	top: 10px;
	left: 10px;

	z-index: 19;
	border: 1px solid black;

	width: 175px;

	background-color: white;

	padding: 15px;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.map-legend h5 {
	margin-bottom: 15px;
	font-weight: 500;
}

.categorical-text-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
}

.interpolate-wrapper {
	display: flex;
	position: relative;
	margin-top: 10px;
}

.interpolate-bar {
	height: 1.5rem;
	width: 100%;
	margin: 0px 5px 0px 5px;
}

.legend-row {
	display: flex;
	margin-bottom: 10px;
}

.legend-box {
	width: 1.7rem;
	height: 1.7rem;
	border: 1px solid black;
	margin-right: 7.5px;
}


@media (max-width: 600px) {

	.map-legend {
		top: 40px;
	}

}



