.map-legend {
	position: absolute;
	top: 10px;
	right: 10px;

	z-index: 19;
	border: 1px solid black;

	width: 170px;
	height: 170px;
	background-color: white;

	padding: 15px;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.map-legend h5 {
	margin-bottom: 15px;
}

.categorical-text-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
}

.interpolate-wrapper {
	display: block;
	position: relative;
	margin-top: 10px;
}

.interpolate-top-label {
	position: absolute;
	top: -.25rem;
	left: 40px;
}

.interpolate-middle-label {
	position: absolute;
	top: 55px;
	left: 30px;
}

.interpolate-bottom-label {
	position: absolute;
	bottom: -.25rem;
	left: 40px;
}

.interpolate-bar {
	height: 100px;
	width: 30px;
}

.legend-row {
	display: flex;
	margin-bottom: 10px;
}

.legend-box {
	width: 1.7rem;
	height: 1.7rem;
	border: 1px solid black;
	margin-right: 7.5px;
}



