.navbar-container {
	width: 100vw;
	position: relative;

	border: none;
	background-color: #16343E;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	position: fixed;
	z-index: 21;
}

.navbar {

	display: flex;
	justify-content: space-between;

	width: 100%;
/*	max-width: 1200px;*/
	margin: 0px auto;

	padding: 0px 25px;

}

.logo {

	padding: 10px 0px;

	z-index: 21;

	width: auto;
	height: 75px;

}

.about {
	line-height: 75px;
	color: #FBF8E9;
	font-weight: bold;
}

.about:hover {
	text-decoration: underline;
}


.menu {
	height: 75px;

	display: flex;
	align-items: center; /* Vertical center alignment */
	justify-content: center; 
}

.menu img {
	height: 30px;
	max-height: 100%;
	max-width: 100%;
}

.navbar .open-button {

	background-color: white;
	font-family: "TT Hoves Bold", monospace;
	color: #00835D;

	padding: 10px;

	border-radius: 5px;

	border: none;

	margin-left: 20px;
	margin-top: 15.5px;
}



