.sidebar {

  margin: 0px;

  position: relative;

  /*z-index: 2;*/

  background-color: white;
  border-right: 2px solid black;

  padding: 10px;

  overflow-y: scroll;

  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: var(--sidebarWidth);
  z-index: 20;

}

.sidebar h1 {
  margin-top: 15px;
}

.sidebar h3 {
  margin-top: 10px;
}

.sidebar .color-dropdown {
  margin: 5px 0px 15px 0px;
}

.sidebar .slider {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: var(--maxWidthTrigger)) {

  .sidebar {

      width: 100%;
      top: var(--sidebarHeight);
      height: calc(100vh - var(--sidebarHeight));

      border-right: none;

  }

}