.sidebar {

  margin: 0px 0px 0px 0px;

  position: relative;

  background-color: white;
  border-right: 2px solid black;

  padding: 20px 15px 20px 15px;

  overflow-y: scroll;

  position: absolute;
/*  top: 0px;*/
  right: 0px;
  height: calc(100vh - 75px);
  width: 375px;
  z-index: 20;

}

.sidebar .link-section {
  padding: 30px 0px 0px 0px;
}

.sidebar .link-section a {
  display: block;
}

.sidebar .link-section a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar .fill-selector {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar .filter-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar .filter-section {
  margin-top: 10px;
  margin-bottom: 40px;
}

.sidebar h5 {
  font-weight: 400;
  font-size: 1rem;
}

.sidebar .form-control-group {
  margin-left: 8px;
}

.sidebar .form-control-label span {
  margin: 1px;
  padding: 0;
}

.sidebar .filter-header {
  margin: 20px 0 4px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.sidebar .color-dropdown {
  margin: 5px 0px 15px 0px;
}

.sidebar .slider {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 375px) {

  .sidebar {
    width: 100%;
  }

}