.sidebar {

  margin: 0px 0px 0px 0px;

  position: relative;

  background-color: white;
  border-right: 2px solid black;

  padding: 10px 10px 100px 10px;

  overflow-y: scroll;

  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 350px;
  z-index: 20;

}

.sidebar h4 {
  margin-top: 15px;
}

.sidebar h5 {
  font-weight: 400;
  font-size: 1rem;
}

.sidebar .form-control-group {
  margin-left: 8px;
}

.sidebar .form-control-label span {
  margin: 1px;
  padding: 0;
}

.sidebar .filter-header {
  margin: 20px 0 4px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.sidebar .color-dropdown {
  margin: 5px 0px 15px 0px;
}

.sidebar .slider {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 600px) {

  .sidebar {

      width: 100%;
      top: 36px;
      height: calc(100vh - 36px);

      border-right: none;

  }

}