body {
  margin: 0px;
}

/** Dashboard Styles */

body>div.dashboard {
  width: 100%;
  height: calc(100vh - 44px);
  align-items: start;
  justify-content: center;
  margin: 76px 0;
  padding: 0;
}

@media (max-height: 859px) {
  div.dashboard {
    margin-top: 44px;
  }
}

div.dashboard.flex {
  display: flex !important;
}

div.dashboard.flex-wrap {
  flex-wrap: wrap !important;
}

div.dashboard #react-app {
  width: 100%;
  max-height: calc(100vh - 126px);
  overflow: visible;
  transition: opacity ease-in 1500ms;
  opacity: 0.0;
}
